In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [278]:
# total players
total_players = len(purchase_data.groupby("SN").size())

# number of unique items
unique_items = str(len(purchase_data.groupby("Item ID").size()))

# avg price
avg_purchase_price = purchase_data["Price"].mean()

# total purchases
total_purchases = len(purchase_data.groupby("Purchase ID"))

# total sales
total_sales = purchase_data["Price"].sum()

# create dict for df 
purchase_analysis = {"Number of Unique Items": [unique_items],
                     "Average Price": [avg_purchase_price],
                     "Number of Purchases": [total_purchases],
                     "Total Revenue": [total_sales]}

# create df using dict - round two decimal places
purchase_analysis_df = pd.DataFrame.from_dict(purchase_analysis).round(2)

# format float to show dollar sign and comma seperators
pd.options.display.float_format = '${:,}'.format

print(purchase_analysis_df)

  Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                    179          $3.05                  780      $2,379.77

In [290]:
genders = purchase_data.groupby("SN")["Gender"].value_counts()
print(genders)

SN             Gender
Adairialis76   Male      1
Adastirin33    Female    1
Aeda94         Male      1
Aela59         Male      1
Aelaria33      Male      1
                        ..
Yathecal82     Female    3
Yathedeu43     Male      2
Yoishirrala98  Female    1
Zhisrisu83     Male      2
Zontibe81      Male      3
Name: Gender, Length: 576, dtype: int64