In [90]:
# dependices
import pandas as pd

# Load in file 
file = "Resources/purchase_data.csv"

# read file 
purchase_data_df = pd.read_csv(file)

# store into datafram
purchase_data_df.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [122]:
# show single column - REMOVE 
purchase_data_df["SN"].head()

0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
Name: SN, dtype: object

In [136]:
# player count - len of SN

for row in purchase_data_df:
    total_players = len(purchase_data_df.groupby("SN").size())
                       
total_players

576

In [156]:
# purchasing analysis

# number of unique items
for row in purchase_data_df:
    unique_items = len(purchase_data_df.groupby("Item_ID").size())
    
unique_items

179

In [138]:
# average purchase price
for row in purchase_data_df:
    avg_purchase_price = purchase_data_df["Price"].mean()
    
avg_purchase_price

3.050987179487176

In [139]:
# total purchases
for row in purchase_data_df:
    total_purchases = len(purchase_data_df.groupby("Purchase_ID"))
    
total_purchases

780

In [140]:
for row in purchase_data_df:
    total_sales = purchase_data_df["Price"].sum()

total_sales

2379.77

In [141]:
purchase_data_df.head()

,Purchase_ID,SN,Age,Gender,Item_ID,Item_Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,$1.56
2,2,Ithergue48,24,Male,92,Final Critic,$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,$3.27
4,4,Iskosia90,23,Male,131,Fury,$1.44

In [154]:
# count of female players

IndentationError: unexpected indent (<ipython-input-154-55c1ed542087>, line 5)

In [135]:
# Gender demographics 
# count of players by

for row in purchase_data_df:
    player_gender_count = purchase_data_df["Gender"].value_counts()
    
player_gender_count

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [113]:
# percent of players by gender
for row in purchase_data_df:
    player_gender_percent = purchase_data_df["Gender"].value_counts(normalize=True)
        
# need to change to percentages
player_gender_percent

Male                    $0.84
Female                  $0.14
Other / Non-Disclosed   $0.02
Name: Gender, dtype: float64

In [ ]:
# purchase count by gender